{% load visualizador_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artista</title>
      <script type="text/javascript" src="/static/js/jquery.slim.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
      <script type="text/javascript" src="/static/js/bootstrap.bundle.min.js"></script>
    <style>

.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover,
.container::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}
        .profile-head {
    transform: translateY(5rem)
}
iframe{
    overflow:hidden;
    min-height: 600px;
}
.cover {
    background-image: url("/static/imagenes/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/static/imagenes/beat.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buscar">Buscar</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    <div class="row py-5 px-4">
        <div class="col-md-12 mx-auto">
            <!-- Profile widget -->
            {% for i in artista %}
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-4"><img src="{{i.imagen.url}}" alt="..." width="230" height="100" class="rounded mb-2 img-thumbnail"><a href="#"></a></div>
                        <div class="media-body mb-5 text-white">
                            <h4 class="mt-0 mb-0">{{i.nombre}}</h4>
                            <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2">{{i.genero}}</i></p>
                        </div>
                    </div>
                </div>
            
                <div class="px-4 py-3">
                    <br>
                    
                    <div class="p-4 rounded shadow-sm bg-light">
                    <h5 class="mb-0">Acerca de la banda</h5>
                    <p class="mb-0">{{i.ciudad}}</p>
                    <br>
                    <p class="font-italic mb-0">Biografia:</p>
                    <p class="font-italic mb-0">
                    {{i.biografia}}
                    </p>
                    </br>
                    {% with integrantes=i.id|musico_artista %}        
                    <h5 class="mb-0">Integrantes de la banda:</h5>
                  </br> 
                    {% for k in integrantes %}
                    <h6 class="mb-0">{{k.nombre}}</h6>                  
                    {% endfor %} 
                    {% endwith %}
                    
                    <br class="font-italic mb-0">
                    {% with albums=i.id|artista_album %}
                        Albumes:
                        
                        </br>
                        {% for j in albums %}
                          <a href="{% url 'album' j.id %}">{{j.nombre}}</a>
                        </br>
                        {% endfor %} 
                    {% endwith %}
            {% endfor %}
                    <br>
                    <p>Sitio Web: <a href={{i.pagina}}>Click aqui</a></p>   
                </div>
                    
                    </br>                 
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
