<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>buscador</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <style>
      body{
        background-color: #333A40;
      }
      .container2{
        margin: 15% auto;
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
      }
      img{
        padding: 40px;
      }
    </style>
</head>
<body>
  <div class="container2">
    <center><img src="/static/imagenes/beat.png"></center>
    <form method="POST" action="/busqueda/">
      {% csrf_token %}
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Busca ahora tu canción, artista, albúm...." aria-label="Recipient's username" aria-describedby="button-addon2" name="query">
          <div class="input-group-append">&nbsp;
            <select class="form-control" id="exampleFormControlSelect1" name="seleccion">
              <option>Artista</option>
              <option>Canción</option>
              <option>Album</option>
            </select>&nbsp;
            <button type="submit" value="Busqueda" class="btn btn-light">Buscar</button>
          </div>
      </div>
    </form>
  </div>
</body>
</html>