.fond{
    background: url("../imagenes/banner.jpg");
    width: 60%;
    height: 50%;
    margin: auto auto;
}
.ctex{
    padding: 5px 10px 5px 10px; 
    position: absolute;
    width: auto;
    height: auto;
    top: 39%;
    background: black;
}
.cot{
    position: relative;
    bottom: 2%;
    width: 60%;
    height: 90%;
    margin: auto auto;

}
.imgalbum{
    position: absolute;
    margin-top: 30px;
    left: 55%;
}
.txts{
    position: relative;
    left: 5%;
}
.canciones{
    width: 50%;
    margin-left: 80px;
}